// COLORS
$color-primary:#e91e63;
$color-primary-light: #ec407a;
$color-primary-dark: #d81b60;

$color-secondary-light: #fce4ec;
$color-secondary-dark: #f8bbd0;

$color-tertiary-light: #e040fb;
$color-tertiary-dark: #d500f9;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;